We chose this data set because it seemed like interesting data and it contained information that was pretty
straightforward to manipulate. We also used this particular Data Set because of how interesting and relevant the it is for all of us living in Gainesville right now.

In [30]:
#Importing data
import pandas as pd
import numpy as np

df=pd.read_excel('GainesvilleHomes.xlsx')
df

,EAST_WEST,NORTH_SOUTH,BEDS_BATHS,SQUARE_FOOTAGE,LOT SIZE,COMMUTE,YEAR BUILT,DAYS,ES,MS,HS,PRICE,Price(thousands)
0,West,North,12.5,6300,4.250000,19.0,1991,172.000,2.0,2.3,0.4,1600000,1600.000
1,East,North,8.0,7699,4.190000,22.0,1981,244.000,7.8,NaN,NaN,1450000,1450.000
2,West,South,9.0,4670,3.420000,22.5,1986,14.000,1.3,3.4,3.0,1177000,1177.000
3,West,South,8.5,5241,10.000000,25.0,2009,477.000,4.7,4.4,16.2,1150000,1150.000
4,East,North,13.0,4084,0.630000,11.0,1935,10.000,NaN,NaN,NaN,1049000,1049.000
5,West,South,8.0,3263,0.500000,24.0,2019,207.000,0.9,2.2,3.7,778380,778.380
6,West,South,7.5,4000,0.720000,26.0,2003,43.000,1.1,1.0,3.3,749000,749.000
7,West,South,7.5,4000,0.720000,26.0,2003,43.000,1.1,1.0,3.3,749000,749.000
8,West,North,9.0,3631,1.030000,17.0,1991,33.000,13.0,9.0,5.0,725000,725.000
9,West,South,9.5,3566,0.560000,24.0,2004,12.000,1.0,2.5,1.8,699000,699.000
10,West,South,9.5,3566,0.082000,25.0,2004,12.000,1.0,2.5,NaN,699000,699.000
11,West,South,10.0,3786,0.680000,21.0,2004,10.000,1.1,2.7,1.8,675000,675.000
12,West,South,10.0,3786,0.680000,27.0,2004,10.000,1.1,2.7,1.8,675000,675.000
13,West,North,7.5,4647,1.330000,23.0,1985,111.000,2.0,2.3,1.8,659900,659.900
14,West,South,7.5,3482,1.220000,28.0,1996,39.000,3.6,4.9,6.3,630000,630.000
15,West,South,9.5,3509,1.630000,24.0,1990,0.290,3.6,3.2,NaN,629000,629.000
16,East,North,9.5,3948,0.460000,11.0,1912,5.000,1.1,3.3,0.1,625000,625.000
17,West,South,7.5,3721,0.700000,25.0,1994,37.000,0.3,2.4,2.8,610000,610.000
18,West,South,8.5,3969,0.740000,28.0,1997,363.000,1.6,2.7,8.4,599900,599.900
19,West,North,8.0,3827,1.280000,29.0,1993,113.000,1.7,2.6,1.9,599000,599.000
20,West,South,8.0,3060,0.350000,23.0,2001,166.000,0.4,1.8,3.1,540000,540.000
21,West,South,7.5,2999,NaN,26.0,2019,49.000,1.3,3.1,3.7,538900,538.900
22,West,North,7.5,3458,0.830000,22.0,1994,40.000,0.6,3.4,1.6,519205,519.205
23,West,South,6.0,2608,0.460000,23.0,1991,22.000,1.1,1.4,3.7,519000,519.000
24,West,South,7.0,2736,0.280000,28.0,2016,0.125,1.3,2.9,4.0,509900,509.900
25,West,South,7.0,2736,0.280000,28.0,2016,0.000,1.3,2.9,4.0,509900,509.900
26,West,South,7.5,2998,0.068825,21.0,2003,3.000,0.4,1.7,2.8,500000,500.000
27,West,North,6.5,3408,0.350000,15.0,2011,54.000,1.4,2.8,1.1,498000,498.000
28,West,South,7.0,3110,1.000000,25.0,1998,7.000,1.3,1.1,4.4,495000,495.000

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EAST_WEST         29 non-null     object
 1   NORTH_SOUTH       29 non-null     object
 2   BEDS_BATHS        29 non-null     float64
 3   SQUARE_FOOTAGE    29 non-null     int64
 4   LOT SIZE          28 non-null     float64
 5   COMMUTE           29 non-null     float64
 6   YEAR BUILT        29 non-null     int64
 7   DAYS              29 non-null     float64
 8   ES                28 non-null     float64
 9   MS                27 non-null     float64
 10  HS                25 non-null     float64
 11  PRICE             29 non-null     int64
 12  Price(thousands)  29 non-null     float64
dtypes: float64(8), int64(3), object(2)
memory usage: 3.1+ KB

In [32]:
#Working with missing Data
samp=df.loc[1:15]
samp.head(15)

,EAST_WEST,NORTH_SOUTH,BEDS_BATHS,SQUARE_FOOTAGE,LOT SIZE,COMMUTE,YEAR BUILT,DAYS,ES,MS,HS,PRICE,Price(thousands)
1,East,North,8.0,7699,4.190,22.0,1981,244.00,7.8,NaN,NaN,1450000,1450.00
2,West,South,9.0,4670,3.420,22.5,1986,14.00,1.3,3.4,3.0,1177000,1177.00
3,West,South,8.5,5241,10.000,25.0,2009,477.00,4.7,4.4,16.2,1150000,1150.00
4,East,North,13.0,4084,0.630,11.0,1935,10.00,NaN,NaN,NaN,1049000,1049.00
5,West,South,8.0,3263,0.500,24.0,2019,207.00,0.9,2.2,3.7,778380,778.38
6,West,South,7.5,4000,0.720,26.0,2003,43.00,1.1,1.0,3.3,749000,749.00
7,West,South,7.5,4000,0.720,26.0,2003,43.00,1.1,1.0,3.3,749000,749.00
8,West,North,9.0,3631,1.030,17.0,1991,33.00,13.0,9.0,5.0,725000,725.00
9,West,South,9.5,3566,0.560,24.0,2004,12.00,1.0,2.5,1.8,699000,699.00
10,West,South,9.5,3566,0.082,25.0,2004,12.00,1.0,2.5,NaN,699000,699.00
11,West,South,10.0,3786,0.680,21.0,2004,10.00,1.1,2.7,1.8,675000,675.00
12,West,South,10.0,3786,0.680,27.0,2004,10.00,1.1,2.7,1.8,675000,675.00
13,West,North,7.5,4647,1.330,23.0,1985,111.00,2.0,2.3,1.8,659900,659.90
14,West,South,7.5,3482,1.220,28.0,1996,39.00,3.6,4.9,6.3,630000,630.00
15,West,South,9.5,3509,1.630,24.0,1990,0.29,3.6,3.2,NaN,629000,629.00

In [33]:
#Identifying missing data
samp.isna()

,EAST_WEST,NORTH_SOUTH,BEDS_BATHS,SQUARE_FOOTAGE,LOT SIZE,COMMUTE,YEAR BUILT,DAYS,ES,MS,HS,PRICE,Price(thousands)
1,False,False,False,False,False,False,False,False,False,True,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,True,True,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,True,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,True,False,False

In [34]:
#Removing missing data
samp.dropna()

,EAST_WEST,NORTH_SOUTH,BEDS_BATHS,SQUARE_FOOTAGE,LOT SIZE,COMMUTE,YEAR BUILT,DAYS,ES,MS,HS,PRICE,Price(thousands)
2,West,South,9.0,4670,3.42,22.5,1986,14.0,1.3,3.4,3.0,1177000,1177.00
3,West,South,8.5,5241,10.00,25.0,2009,477.0,4.7,4.4,16.2,1150000,1150.00
5,West,South,8.0,3263,0.50,24.0,2019,207.0,0.9,2.2,3.7,778380,778.38
6,West,South,7.5,4000,0.72,26.0,2003,43.0,1.1,1.0,3.3,749000,749.00
7,West,South,7.5,4000,0.72,26.0,2003,43.0,1.1,1.0,3.3,749000,749.00
8,West,North,9.0,3631,1.03,17.0,1991,33.0,13.0,9.0,5.0,725000,725.00
9,West,South,9.5,3566,0.56,24.0,2004,12.0,1.0,2.5,1.8,699000,699.00
11,West,South,10.0,3786,0.68,21.0,2004,10.0,1.1,2.7,1.8,675000,675.00
12,West,South,10.0,3786,0.68,27.0,2004,10.0,1.1,2.7,1.8,675000,675.00
13,West,North,7.5,4647,1.33,23.0,1985,111.0,2.0,2.3,1.8,659900,659.90
14,West,South,7.5,3482,1.22,28.0,1996,39.0,3.6,4.9,6.3,630000,630.00

In [35]:
#Change column names
df.columns

Index(['EAST_WEST ', 'NORTH_SOUTH', 'BEDS_BATHS', 'SQUARE_FOOTAGE', 'LOT SIZE',
       'COMMUTE', 'YEAR BUILT', 'DAYS', 'ES', 'MS', 'HS', 'PRICE',
       'Price(thousands)'],
      dtype='object')

In [36]:
df.columns = (['East West ', 'North South', 'Beds+Bath', 'Square Feet', 'Lot Size',
       'Commute to UF', 'Year Built', 'Days', 'ES', 'MS', 'HS','Price',
       'Price(thousands)'])

In [37]:
df

,East West,North South,Beds+Bath,Square Feet,Lot Size,Commute to UF,Year Built,Days,ES,MS,HS,Price,Price(thousands)
0,West,North,12.5,6300,4.250000,19.0,1991,172.000,2.0,2.3,0.4,1600000,1600.000
1,East,North,8.0,7699,4.190000,22.0,1981,244.000,7.8,NaN,NaN,1450000,1450.000
2,West,South,9.0,4670,3.420000,22.5,1986,14.000,1.3,3.4,3.0,1177000,1177.000
3,West,South,8.5,5241,10.000000,25.0,2009,477.000,4.7,4.4,16.2,1150000,1150.000
4,East,North,13.0,4084,0.630000,11.0,1935,10.000,NaN,NaN,NaN,1049000,1049.000
5,West,South,8.0,3263,0.500000,24.0,2019,207.000,0.9,2.2,3.7,778380,778.380
6,West,South,7.5,4000,0.720000,26.0,2003,43.000,1.1,1.0,3.3,749000,749.000
7,West,South,7.5,4000,0.720000,26.0,2003,43.000,1.1,1.0,3.3,749000,749.000
8,West,North,9.0,3631,1.030000,17.0,1991,33.000,13.0,9.0,5.0,725000,725.000
9,West,South,9.5,3566,0.560000,24.0,2004,12.000,1.0,2.5,1.8,699000,699.000
10,West,South,9.5,3566,0.082000,25.0,2004,12.000,1.0,2.5,NaN,699000,699.000
11,West,South,10.0,3786,0.680000,21.0,2004,10.000,1.1,2.7,1.8,675000,675.000
12,West,South,10.0,3786,0.680000,27.0,2004,10.000,1.1,2.7,1.8,675000,675.000
13,West,North,7.5,4647,1.330000,23.0,1985,111.000,2.0,2.3,1.8,659900,659.900
14,West,South,7.5,3482,1.220000,28.0,1996,39.000,3.6,4.9,6.3,630000,630.000
15,West,South,9.5,3509,1.630000,24.0,1990,0.290,3.6,3.2,NaN,629000,629.000
16,East,North,9.5,3948,0.460000,11.0,1912,5.000,1.1,3.3,0.1,625000,625.000
17,West,South,7.5,3721,0.700000,25.0,1994,37.000,0.3,2.4,2.8,610000,610.000
18,West,South,8.5,3969,0.740000,28.0,1997,363.000,1.6,2.7,8.4,599900,599.900
19,West,North,8.0,3827,1.280000,29.0,1993,113.000,1.7,2.6,1.9,599000,599.000
20,West,South,8.0,3060,0.350000,23.0,2001,166.000,0.4,1.8,3.1,540000,540.000
21,West,South,7.5,2999,NaN,26.0,2019,49.000,1.3,3.1,3.7,538900,538.900
22,West,North,7.5,3458,0.830000,22.0,1994,40.000,0.6,3.4,1.6,519205,519.205
23,West,South,6.0,2608,0.460000,23.0,1991,22.000,1.1,1.4,3.7,519000,519.000
24,West,South,7.0,2736,0.280000,28.0,2016,0.125,1.3,2.9,4.0,509900,509.900
25,West,South,7.0,2736,0.280000,28.0,2016,0.000,1.3,2.9,4.0,509900,509.900
26,West,South,7.5,2998,0.068825,21.0,2003,3.000,0.4,1.7,2.8,500000,500.000
27,West,North,6.5,3408,0.350000,15.0,2011,54.000,1.4,2.8,1.1,498000,498.000
28,West,South,7.0,3110,1.000000,25.0,1998,7.000,1.3,1.1,4.4,495000,495.000

In [38]:
#Removing a column
df.drop('Days', axis=1)

,East West,North South,Beds+Bath,Square Feet,Lot Size,Commute to UF,Year Built,ES,MS,HS,Price,Price(thousands)
0,West,North,12.5,6300,4.250000,19.0,1991,2.0,2.3,0.4,1600000,1600.000
1,East,North,8.0,7699,4.190000,22.0,1981,7.8,NaN,NaN,1450000,1450.000
2,West,South,9.0,4670,3.420000,22.5,1986,1.3,3.4,3.0,1177000,1177.000
3,West,South,8.5,5241,10.000000,25.0,2009,4.7,4.4,16.2,1150000,1150.000
4,East,North,13.0,4084,0.630000,11.0,1935,NaN,NaN,NaN,1049000,1049.000
5,West,South,8.0,3263,0.500000,24.0,2019,0.9,2.2,3.7,778380,778.380
6,West,South,7.5,4000,0.720000,26.0,2003,1.1,1.0,3.3,749000,749.000
7,West,South,7.5,4000,0.720000,26.0,2003,1.1,1.0,3.3,749000,749.000
8,West,North,9.0,3631,1.030000,17.0,1991,13.0,9.0,5.0,725000,725.000
9,West,South,9.5,3566,0.560000,24.0,2004,1.0,2.5,1.8,699000,699.000
10,West,South,9.5,3566,0.082000,25.0,2004,1.0,2.5,NaN,699000,699.000
11,West,South,10.0,3786,0.680000,21.0,2004,1.1,2.7,1.8,675000,675.000
12,West,South,10.0,3786,0.680000,27.0,2004,1.1,2.7,1.8,675000,675.000
13,West,North,7.5,4647,1.330000,23.0,1985,2.0,2.3,1.8,659900,659.900
14,West,South,7.5,3482,1.220000,28.0,1996,3.6,4.9,6.3,630000,630.000
15,West,South,9.5,3509,1.630000,24.0,1990,3.6,3.2,NaN,629000,629.000
16,East,North,9.5,3948,0.460000,11.0,1912,1.1,3.3,0.1,625000,625.000
17,West,South,7.5,3721,0.700000,25.0,1994,0.3,2.4,2.8,610000,610.000
18,West,South,8.5,3969,0.740000,28.0,1997,1.6,2.7,8.4,599900,599.900
19,West,North,8.0,3827,1.280000,29.0,1993,1.7,2.6,1.9,599000,599.000
20,West,South,8.0,3060,0.350000,23.0,2001,0.4,1.8,3.1,540000,540.000
21,West,South,7.5,2999,NaN,26.0,2019,1.3,3.1,3.7,538900,538.900
22,West,North,7.5,3458,0.830000,22.0,1994,0.6,3.4,1.6,519205,519.205
23,West,South,6.0,2608,0.460000,23.0,1991,1.1,1.4,3.7,519000,519.000
24,West,South,7.0,2736,0.280000,28.0,2016,1.3,2.9,4.0,509900,509.900
25,West,South,7.0,2736,0.280000,28.0,2016,1.3,2.9,4.0,509900,509.900
26,West,South,7.5,2998,0.068825,21.0,2003,0.4,1.7,2.8,500000,500.000
27,West,North,6.5,3408,0.350000,15.0,2011,1.4,2.8,1.1,498000,498.000
28,West,South,7.0,3110,1.000000,25.0,1998,1.3,1.1,4.4,495000,495.000

In [39]:
#Shrinking the data frame: Shrink the Data frame down to just the "Lot Size" and "East-West" columns, getting rid of the missing data and then displaying the average lot size for an "East" Home compared to a "West" Home
df.drop(columns=['North South', 'Beds+Bath', 'Square Feet','Commute to UF', 'Year Built', 'Days', 'ES', 'MS', 'HS','Price','Price(thousands)'],inplace=True)

In [40]:
df

   East West    Lot Size
0        West   4.250000
1        East   4.190000
2        West   3.420000
3        West  10.000000
4        East   0.630000
5        West   0.500000
6        West   0.720000
7        West   0.720000
8        West   1.030000
9        West   0.560000
10       West   0.082000
11       West   0.680000
12       West   0.680000
13       West   1.330000
14       West   1.220000
15       West   1.630000
16       East   0.460000
17       West   0.700000
18       West   0.740000
19       West   1.280000
20       West   0.350000
21       West        NaN
22       West   0.830000
23       West   0.460000
24       West   0.280000
25       West   0.280000
26       West   0.068825
27       West   0.350000
28       West   1.000000

In [54]:
df.dropna()

   East West    Lot Size
0        West   4.250000
1        East   4.190000
2        West   3.420000
3        West  10.000000
4        East   0.630000
5        West   0.500000
6        West   0.720000
7        West   0.720000
8        West   1.030000
9        West   0.560000
10       West   0.082000
11       West   0.680000
12       West   0.680000
13       West   1.330000
14       West   1.220000
15       West   1.630000
16       East   0.460000
17       West   0.700000
18       West   0.740000
19       West   1.280000
20       West   0.350000
22       West   0.830000
23       West   0.460000
24       West   0.280000
25       West   0.280000
26       West   0.068825
27       West   0.350000
28       West   1.000000

Properties of Dataframe:The data that's looked at in this exercise contains information about the houses on the market in
Gainesville, Florida.This is an excel file which was imported to Python. It orginally had 28 rows and  13 columns which
were manipulated throughout the exercise. We started off by renaming and  identifying the missing inputs throughtout the
data frame. Then we change some of the column names and then removed a column that we felt was not needed in the dataframe. Afterwards, we went ahead and shrunk the data frame down to two columns 'East West' and 'Lot Size'.